* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #32573f;
  font-family: 'Raleway', sans-serif;
  color: black;
}
.container {
  background-color: white;
  border-radius: 5px;
  max-width: 245px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
}
.container p {
  padding-bottom: 10px;
  font-weight: bolder;
  text-align: center;
}
h1 {
  padding-bottom: 20px;
  text-align: center;
}
label {
  color: rgb(110, 110, 110);
  font-weight: bolder;
  font-size: 60%;
}
input {
  display: block;
  border-width: 1px;
  border-color: rgb(161, 161, 161);
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.233);
  width: 95%;
  padding: 7px;
  margin-bottom: 6px;
}
.button {
  display: block;
  text-transform: uppercase;
  font-size: 70%;
  background-color: #f37e53;
  color: white;
  border: 1px solid #f37e53;
  border-radius: 5px;
  padding: 8px 70px;
  margin: 20px auto;
}
a {
  text-decoration: none;
  color: #f37e53;
}
.policy {
  font-size: 75%;
  font-weight: bolder;
  margin-bottom: 10px;
}
footer {
  font-size: 80%;
  text-align: center;
  color: white;
}
