* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

h1 {
  margin: 2rem 0;
}

/* First container */
.grid-container1 {
  display: grid;
  background-color: aqua;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px 50px 100px 100px;
  gap: 1rem;
  /* column-gap: 2rem;
  row-gap: 1rem; */
}

.grid-container1 .item {
  background-color: blue;
  color: white;
}

.grid-container1 .item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: darkblue;
}

.grid-container1 .item:last-child {
  grid-column: 1 / span 3;
}

/* Second container */
.grid-container2 {
  display: grid;
  grid-template-areas:
    'header header header header'
    'left main main aside'
    'something main main aside'
    'something main main aside'
    'footer footer footer footer';
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.header {
  grid-area: header;
  background: green;
  min-height: 100px;
  padding: 1rem;
}

.left {
  grid-area: left;
  background-color: blue;
  min-height: 100px;
  padding: 1rem;
}

.something {
  grid-area: something;
  background-color: purple;
  min-height: 100px;
  padding: 1rem;
}

.main {
  grid-area: main;
  background-color: pink;
  min-height: 100px;
  padding: 1rem;
}

.aside {
  grid-area: aside;
  background-color: yellow;
  min-height: 100px;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  background-color: red;
}
