* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-image: url('/2_week/1_task/img/nordwood-themes-R53t-Tg6J4c-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */

  background: url('/2_week/1_task/img/nordwood-themes-R53t-Tg6J4c-unsplash.jpg')
    no-repeat fixed center center/cover;
}
.container {
  max-width: 800px;
  background-color: white;
  padding: 0 20px;
  margin: 0 auto;
}
header {
  background-color: brown;
}

header nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
header ul li {
  display: inline-block;
}
header nav img {
  max-width: 800px;
  max-height: 500px;
}

/* Table */
table {
  background-color: white;
}
/* tr:first-child {
  background-color: green;
} */

table,
th,
td {
  /*border-style: solid;
  border-width: 1px;
  border-color: white;
  */
  border: 1px solid white;
  border-collapse: collapse;
  padding: 8px;
}
th {
  border-bottom-width: 2px;
  background-color: orange;
  color: white;
}

tr:nth-child(2n) {
  background-color: rgb(255, 242, 217);
}
/* Boxes */
.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.box1 {
  border: 4px dotted white;
  background-color: indigo;
}

.box2 {
  border: 5px ridge white;
  background-color: rgb(108, 130, 255);
}

.box3 {
  border: 5px inset;
  background-color: gray;
  border-top-color: green;
  border-bottom-color: blue;
  border-right-color: yellow;
  border-left-color: red;
}

.box4 {
  border: 4px dashed white;
  border-radius: 5px;
  background-color: rgb(181, 211, 125);
}
.box5 {
  border: 2px dotted white;
  border-radius: 50%;
  background-color: orange;
}
